In [259]:
'''Carga el archivo empleados.csv con pandas. Muestra las primeras filas y revisa los tipos de datos.'''
import pandas as pd 

empleados = pd.read_csv('empleados.csv')
empleados.set_index(['id'], inplace=True)
print(empleados)
print(empleados.dtypes)

            nombre  edad  salario      departamento fecha_ingreso  \
id
1        Ana Gómez  29.0  45000.0  Recursos Humanos    2018-05-12
2       Juan Perez   NaN  52000.0            Ventas    2019-07-01
3              NaN  35.0  60000.0                IT    2020-03-15
4      Pedro López  41.0      NaN                IT    2017-11-30
5        Ana Gómez  29.0  45000.0  Recursos Humanos    2018-05-12
6      Carlos Ruiz  28.0  38000.0               NaN    2021-01-20
7   Laura Martínez  33.0      NaN         Marketing    2019-08-25
8       Juan Perez  38.0  52000.0            VENTAS    2019-07-01
9    Miguel Torres  27.0  42000.0                IT    2022-09-10
10            1234   NaN      NaN  Recursos Humanos    2018-13-40

                         email
id
1        ana.gomez@empresa.com
2           juan.perez@empresa
3      maria.lopez@empresa.com
4      pedro.lopez@empresa.com
5        ana.gomez@empresa.com
6                          NaN
7   laura.martinez@empresa.com
8       juan.perez@empresa.com
9        miguel.torres@empresa
10           invalido@@empresa
nombre            object
edad             float64
salario          float64
departamento      object
fecha_ingreso     object
email             object
dtype: object

In [260]:
'''Encuentra las columnas con valores faltantes.
Rellena la edad faltante con la media o mediana.
Rellena los salarios faltantes con la mediana del salario.
Para el departamento faltante, reemplázalo con "Desconocido". '''

print(empleados.isnull().sum())
empleados.loc[empleados['edad'].isnull(), 'edad'] = empleados['edad'].mean()
empleados.loc[empleados['salario'].isnull(), 'salario'] = empleados['salario'].median()
empleados.loc[empleados['departamento'].isnull(), 'departamento'] = 'Desconocido'
print(empleados)

nombre           1
edad             2
salario          3
departamento     1
fecha_ingreso    0
email            1
dtype: int64
            nombre  edad  salario      departamento fecha_ingreso  \
id
1        Ana Gómez  29.0  45000.0  Recursos Humanos    2018-05-12
2       Juan Perez  32.5  52000.0            Ventas    2019-07-01
3              NaN  35.0  60000.0                IT    2020-03-15
4      Pedro López  41.0  45000.0                IT    2017-11-30
5        Ana Gómez  29.0  45000.0  Recursos Humanos    2018-05-12
6      Carlos Ruiz  28.0  38000.0       Desconocido    2021-01-20
7   Laura Martínez  33.0  45000.0         Marketing    2019-08-25
8       Juan Perez  38.0  52000.0            VENTAS    2019-07-01
9    Miguel Torres  27.0  42000.0                IT    2022-09-10
10            1234  32.5  45000.0  Recursos Humanos    2018-13-40

                         email
id
1        ana.gomez@empresa.com
2           juan.perez@empresa
3      maria.lopez@empresa.com
4      pedro.lopez@empresa.com
5        ana.gomez@empresa.com
6                          NaN
7   laura.martinez@empresa.com
8       juan.perez@empresa.com
9        miguel.torres@empresa
10           invalido@@empresa

In [261]:
'''Identifica filas duplicadas.
Elimina duplicados dejando solo la primera aparición.'''

print(empleados.duplicated().sum())
empleados.drop_duplicates(inplace=True)
#empleados.reset_index(drop=True, inplace=True)
print(empleados)

1
            nombre  edad  salario      departamento fecha_ingreso  \
id
1        Ana Gómez  29.0  45000.0  Recursos Humanos    2018-05-12
2       Juan Perez  32.5  52000.0            Ventas    2019-07-01
3              NaN  35.0  60000.0                IT    2020-03-15
4      Pedro López  41.0  45000.0                IT    2017-11-30
6      Carlos Ruiz  28.0  38000.0       Desconocido    2021-01-20
7   Laura Martínez  33.0  45000.0         Marketing    2019-08-25
8       Juan Perez  38.0  52000.0            VENTAS    2019-07-01
9    Miguel Torres  27.0  42000.0                IT    2022-09-10
10            1234  32.5  45000.0  Recursos Humanos    2018-13-40

                         email
id
1        ana.gomez@empresa.com
2           juan.perez@empresa
3      maria.lopez@empresa.com
4      pedro.lopez@empresa.com
6                          NaN
7   laura.martinez@empresa.com
8       juan.perez@empresa.com
9        miguel.torres@empresa
10           invalido@@empresa

In [262]:
'''Estandariza el nombre de los departamentos (ejemplo: "Ventas" y "VENTAS" deben ser lo mismo).
Quita espacios extra en los nombres de empleados.'''

empleados['departamento'] = empleados['departamento'].map(lambda x: x.lower())
empleados['nombre'].str.strip()
empleados["nombre"] = empleados["nombre"].str.replace(r"\s+", " ", regex=True)
print(empleados)

            nombre  edad  salario      departamento fecha_ingreso  \
id
1        Ana Gómez  29.0  45000.0  recursos humanos    2018-05-12
2       Juan Perez  32.5  52000.0            ventas    2019-07-01
3              NaN  35.0  60000.0                it    2020-03-15
4      Pedro López  41.0  45000.0                it    2017-11-30
6      Carlos Ruiz  28.0  38000.0       desconocido    2021-01-20
7   Laura Martínez  33.0  45000.0         marketing    2019-08-25
8       Juan Perez  38.0  52000.0            ventas    2019-07-01
9    Miguel Torres  27.0  42000.0                it    2022-09-10
10            1234  32.5  45000.0  recursos humanos    2018-13-40

                         email
id
1        ana.gomez@empresa.com
2           juan.perez@empresa
3      maria.lopez@empresa.com
4      pedro.lopez@empresa.com
6                          NaN
7   laura.martinez@empresa.com
8       juan.perez@empresa.com
9        miguel.torres@empresa
10           invalido@@empresa

In [263]:
'''Revisa que las fechas sean válidas y corrige o elimina las erróneas (2018-13-40 es inválida).
Convierte la columna fecha_ingreso a tipo datetime.'''

'Revisa que las fechas sean válidas y corrige o elimina las erróneas (2018-13-40 es inválida).\nConvierte la columna fecha_ingreso a tipo datetime.'