In [6]:
from sklearn.datasets import load_iris
import pandas as pd

data = load_iris()
df = pd.DataFrame(data.data, columns=data.feature_names)
print(df.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [7]:
#Añade una columna llamada "longitud_total" que sea la suma del ancho y largo del sépalo.
df['longitud_total']=df['sepal length (cm)'] + df['sepal width (cm)']
#print(df)

#Filtra las filas donde sepal length (cm) > 6.0.
filtro1=df[df['sepal length (cm)'] > 6.0]
#print(filtro1)

#Calcula la media del petal width (cm) por tipo de flor (target).
df['target']=data.target
agrupar=df.groupby('target')['petal width (cm)'].mean()
#print(agrupar)

#Usa groupby() para encontrar el máximo de cada columna numérica por clase (target).
agrupar2=df.groupby('target')['petal width (cm)'].max()
#print(agrupar2)

#Reemplaza los valores del target (0, 1, 2) por los nombres reales de las especies (setosa, versicolor, virginica).
especie={0:'setosa', 1:'versiclor', 2:'virginica'}
df['target']=df['target'].map(especie)
#print(df.head)

In [8]:
ventas = pd.read_csv('Ventas.csv')
print(ventas)

   order_id customer_id  order_date   product     category  quantity  price  \
0      1001        C001  2024-01-05    Laptop  Electronics         1   1200
1      1002        C002  2024-01-06     Mouse  Electronics         2     25
2      1003        C001  2024-01-07      Desk    Furniture         1    200
3      1004        C003  2024-01-07     Chair    Furniture         4     75
4      1005        C004  2024-01-08   Monitor  Electronics         2    300
5      1006        C002  2024-01-09      Desk    Furniture         1    200
6      1007        C001  2024-01-10     Mouse  Electronics         1     25
7      1008        C005  2024-01-11  Keyboard  Electronics         1     45
8      1009        C005  2024-01-12    Laptop  Electronics         1   1200
9      1010        C003  2024-01-13   Monitor  Electronics         1    300

   total
0   1200
1     50
2    200
3    300
4    600
5    200
6     25
7     45
8   1200
9    300

In [9]:
print( 'Numero total de pedidos:',ventas.shape[0])
print('Numero de clientes:',ventas['customer_id'].nunique())

#Agregar discount
import numpy as np
ventas['discount'] = (np.where((ventas['category'] == 'Electronics') & (ventas['total'] > 500),
                              ventas['total'] - ventas['total']*0.1 , ventas['total']))

#Agregar discount
ventas['total_with_discount'] = np.where((ventas['category'] == 'Furniture') & (ventas['quantity'] >= 2),
                               ventas['discount'] - ventas['discount']*0.05, ventas['discount'])

print(ventas)

Numero total de pedidos: 10
Numero de clientes: 5
   order_id customer_id  order_date   product     category  quantity  price  \
0      1001        C001  2024-01-05    Laptop  Electronics         1   1200
1      1002        C002  2024-01-06     Mouse  Electronics         2     25
2      1003        C001  2024-01-07      Desk    Furniture         1    200
3      1004        C003  2024-01-07     Chair    Furniture         4     75
4      1005        C004  2024-01-08   Monitor  Electronics         2    300
5      1006        C002  2024-01-09      Desk    Furniture         1    200
6      1007        C001  2024-01-10     Mouse  Electronics         1     25
7      1008        C005  2024-01-11  Keyboard  Electronics         1     45
8      1009        C005  2024-01-12    Laptop  Electronics         1   1200
9      1010        C003  2024-01-13   Monitor  Electronics         1    300

   total  discount  total_with_discount
0   1200    1080.0               1080.0
1     50      50.0                 50.0
2    200     200.0                200.0
3    300     300.0                285.0
4    600     540.0                540.0
5    200     200.0                200.0
6     25      25.0                 25.0
7     45      45.0                 45.0
8   1200    1080.0               1080.0
9    300     300.0                300.0

In [10]:
#Total vendido por categoria
ventas.groupby('category')['total_with_discount'].sum()
#Numero de pedidos por cliente
ventas['customer_id'].value_counts()
#Cliente con mayor gasto total
print(ventas.groupby('customer_id')['total_with_discount'].sum().idxmax())

C001

In [19]:
#Todos los pedidos con fecha después del 2024-01-08 y total mayor a 300
ventas[(ventas['order_date'] > '2024-01-08') & (ventas['total_with_discount']>300)]

,order_id,customer_id,order_date,product,category,quantity,price,total,discount,total_with_discount
8,1009,C005,2024-01-12,Laptop,Electronics,1,1200,1200,1080.0,1080.0