Seleccionar todos los empleados cuyo nombre comienza con la letra "A":
SELECT nombre_empleados
FROM empleados
WHERE nombre_empleados LIKE "A%";


Listar las categorías que tienen más de 10 productos:
SELECT categorias, COUNT(*)
FROM articulos
GROUP BY categorias
HAVING COUNT(*) > 10;


Obtener las ciudades con un promedio de ventas superior a $5,000, ordenadas de mayor a menor promedio:
SELECT ciudad, AVG(venta)
FROM ventas
GROUP BY ciudad
HAVING AVG(venta) > 5000
ORDER BY AVG(venta) DESC;